*{
    box-sizing: border-box;
}

body{
    background-color: black;
    color: aqua;
    font-family:Orbitron;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 20px;
    height: 1000vh;
    position: relative;
    cursor: pointer;
}

.container{
    letter-spacing: 1px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
}

span{
    padding: 20px;
    font-size:xx-large ;
    font-weight:bolder;
    position: relative;
    letter-spacing: 1px;
    line-height: 40px;
    top: 50%;
}